.mat-card {
    border-radius: 25px;
    padding: 5px;
    height: 100vh;
    margin: 5px;
}

#letter {
    height: 25vh;
    font-size: 24px;
    padding-bottom: 5px;
    padding-left: 15px;
}

#picture {
    max-height: 50vh;
}

#word {
    height: 25%;
    font-size: 24px;
    text-align: center;
}