li {
    text-indent: 0%;
}

h2 {
    text-align: center;
}

.mat-card {
    margin: auto;
    margin-bottom: 2px;
    background: inherit;
    color: white;
}

#credits {
    position: relative;
    display: block;
    margin-top: 1px;
    overflow-y: auto;
    background: linear-gradient(217deg, rgb(255, 0, 0), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(185, 185, 185, 0.842), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgb(0, 0, 255), rgba(0,0,255,0) 70.71%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
