#menu {
    width: 100vw; 
    height: 100vw; /* 100/56.25 = 1.778 */
    max-height: 100vh;
    max-width: 133.33vh; /* 16/9 = 1.778 */
    margin: auto; 
    overflow: hidden;
}

.mat-grid-list {
    margin: 1px;
}
.mat-grid-tile {
    margin: 1px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
